html,
header,
body {
    margin: 0%;
    padding: 0%;
    width: 100%;
}

.container {
    margin: 0px;
    padding: 0px;
    width: 100%;
    max-width: 100%;
}

div {
    background-color: blueviolet;
    display: block;
    width: 100%;
}