html {
        box-sizing: border-box;
      }

html,
header, footer,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: rgb(202, 199, 199);
    max-width: 100%;
}


header {
    background-color: #fff;
    display: block;
    width: 100%;
    line-height: 64px;
}

footer {
    background-color: #fff;
}

h1 {
    display: inline-flex;
}

.container {
    display: flex;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}

.nav-li {
    list-style: none;
    display: inline-block;
    margin: 0px 16px 0px;
    text-align:end;
}

.navlink {
    text-decoration: none;
    color: rgb(75, 73, 73);
}

.navlink:hover {
    text-decoration: underline;
    color: rgb(37, 37, 37);
}

.nav-group {
    display: inline-flex;
    justify-content: end;
}

.footer-p {
    display: inline-flex;

}

#wordOne, #wordTwo {
    display: inline-flex;
    text-transform: uppercase;
    text-align: start;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

#wordOne {
    color: rgb(75, 73, 73);
    font-weight: 700;
}

#wordTwo {
    color: rgb(117, 115, 115);
    font-weight: 300;
}

#nav-logo{
    margin-left: 24px;
    height: 32px;
}

#footerPOne {
    display: inline-flex;
    justify-content: flex-start;
    margin-left:24px;
}

#footerPTwo {
    display: inline-flex;
    justify-content: flex-end;
    margin: 0px;
}


/*Hero CSS*/

.hero-container {
    display: flex;
}

.heroImageSection {
    max-width: 50%;
}

.heroTextSection {
    max-width: 40%;
}

.hero-text {
    text-align: center;
}

.hero-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 32px 24px;  
}

.hero-img {
    width: 100%;
}

#hero-header, #hero-subtext {
   color: rgb(75, 73, 73);
}

#hero-button {
    background-color: rgb(75, 73, 73);
    border: rgb(75, 73, 73);
    color: #fff;
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 8px 0px;
}

/*End Hero CSS */



@media only screen and (max-width: 650px) {
    .container {
        max-width: 100%;
    }
    
    #wordOne, #wordTwo {
        display: none;
    }
    .nav-group {
        display: none;
    }

    .hero-container {
        display: flex;
    }

    .hero-img {
        width: 100%;
        padding:0px;
        margin: 0 auto;
    }


}